body{
   margin: 0; 
   font-family: Arial, Helvetica, sans-serif;
   scroll-behavior: smooth;
}

#obal{
  display: flex;
  justify-content: center;
}

div{
   border: white solid 10px;
}

img{
   width: 200px;
   height: 200px;
}

h2{
   font-size: 45px;
   color: white;

}

ul{
   list-style-type: none;
   padding-left: 0;
}

li{
   padding: 5px;
}

a{
   text-decoration: none;
   color: white;
   font-size: 25px;
   margin: 0 5px;
}



#parent{
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(7, 200px);
   grid-template-rows:  repeat(7, 200px);
}

#ahoj1{
   grid-area: 1 / 1 / 2 / 2; 
   background-color:white;
}

#nazov{
   grid-area: 1 / 2 / 2 / 5;
   display: flex;
   justify-content:center;
   align-items:center;
   font-size: 40px;
   color: yellowgreen;
   background-color: white;
}

#navabar{
    grid-area: 1 / 5 / 2 / 8;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#cotoje{
    grid-area: 2 / 1 / 4 / 4; 
    background-color: tomato;
    padding: 0px 20px;
    font-size: 25px;
    color: white;
    line-height: 40px;
}

#ahoj5{
    grid-area: 2 / 4 / 3 / 5; 
}

#ahoj5 img{
   width: 200px;
   height: 200px;
}
 
#ahoj6{
    grid-area: 3 / 4 / 4 / 5; 
}

#priznaky{
    grid-area: 2 / 5 / 4 / 8; 
    background-color: slategray;
    padding: 0px 20px;
    color: white;
    font-size: 25px;
}

 
#akoumyvat{
    grid-area: 4 / 1 / 6 / 3; 
    background-color: steelblue;
    padding: 0px 20px;
    color: white;
    font-size: 25px;
    line-height: 40px;

 }

 #prevencia{
    grid-area: 4 / 3 / 7 / 6; 
    background-color: violet;
    padding: 0 20px;
    color: white;
    font-size: 30px;
    line-height: 45px;
 }

 #ahoj10{
    grid-area: 4 / 6 / 5 / 7; 
    background-color: yellowgreen;
}

 #ahoj11{
    grid-area: 6 / 1 / 8 / 3; 
    background-color: cornflowerblue;
 }

 #ahoj11 img{
    width: 400px;
    height: 400px;
 }
 
 #ahoj13{
    grid-area: 7 / 3 / 8 / 4; 
    background-color: blueviolet
 }

 #ahoj14{
    grid-area: 7 / 4 / 8 / 5; 
    background-color: cornsilk;
 }

 #ahoj15{
    grid-area: 7 / 5 / 8 / 6; 
    background-color: darkslategray;
 }

 #statistiky{
    grid-area: 5 / 6 / 8 / 8; 
    background-color: white;
    padding: 0 20px;
    color: black;
    font-size: 30px;
    line-height: 45px;
 }

 #statistiky h2{
   color: teal;
 }

 #vylieceni{
    color:yellowgreen;
 }

 #nakazeni{
    color: red;
 }